.dialog-container {
  min-width: 350px;
  max-width: 500px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-width {
  width: 100%;
}

mat-dialog-actions {
  padding-bottom: 16px;
}
